* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Meiryo,'メイリオ', Helvetica, 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',sans-serif;
    background-color: #202020;
    color: #ddd;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 32px;
    margin: 0;
}

video {
    width: 100%;
    height: auto;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.btn-start {
    background-color: #9240b0;
    color: #eee;
    border: 0;
    padding: 8px 32px;
    border-radius: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-start:enabled:hover {
    opacity: 0.9;
}

.btn-start:disabled {
    background-color: #404040;
    color: #777;
    cursor: default;
}


.me-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.me-video-wrap {
    width: 320px;
    height: 240px;
    border: 1px solid #555;
}

.connected-video-wrap {
    display: flex;
    width: 100%;
}

.connected-video-wrap video {
    width: 320px;
    height: 240px;
}

.message {
    text-align: center;
    flex: 1;
    font-size: 1.2rem;
}